name: Generate Clients

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: true
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 1.25
      - name: Generate Client
        uses: grafana/shared-workflows/actions/generate-openapi-clients@9d49abed0c85b524b7c019797bdabb4b6caf28c4
        with:
          package-name: gcom
          spec-path: openapi.json
          modify-spec-script: .github/workflows/modify-spec.sh
        env:
          REPO_NAME: grafana-com-public-clients

