name: Generate Clients

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: true
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 1.25
      - name: Generate Client
        uses: grafana/shared-workflows/actions/generate-openapi-clients@2667dc8319c510b3b6aaeff773d4492a25c89544
        with:
          package-name: gcom
          spec-path: openapi.json
          modify-spec-script: .github/workflows/modify-spec.sh
          commit-message: "Updating generated clients after openapi change"
          commit-author: "grafana-com[bot] <141460161+grafana-com[bot]@users.noreply.github.com>"
          commit-user-name: "grafana-com[bot]"
          commit-user-email: "141460161+grafana-com[bot]@users.noreply.github.com"
        env:
          REPO_NAME: grafana-com-public-clients

